@font-face {
  font-family: 'ghostclan';
  src: url('../Resources/Fonts/ghostclan.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 0px;
}

/* resetting browser defaults */
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom, #1C2838, #2D4360);
  min-height: 100vh;
}

#root {
  width: 100vw;
}

#content {
  padding-left: 3.6vw;
  background-image: linear-gradient(to bottom, #1C2838, #172a42);
}

@media only screen and (max-width: 768px) {
  #content {
    padding-left: 0;
    width: 100vw;
  }
}