.navbar {
  color: #fff;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  width: 96.4vw;
  height: 8vh;
  line-height: 8vh;
  z-index: 200;
}

.logo-text {
  padding-left: 2vw;
}

.ham-menu-container {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 5px;
  height: 8vh;
}

.ham-menu {
  height: fit-content;
  position: relative;
  margin-top: 2vh;
}

.layer {
  width: 30px;
  height: 4.5px;
  background-color: #fff;
  margin: 5px auto;
}

@media only screen and (max-width: 768px) {
  .ham-menu-container {
    display: inline;
  }
  .navbar {
    width: 100vw;
    height: 8vh;
  }
}
